/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
p {
  color: black;
  fontsize: 12px;
}
/*Paragraph size needs to be 12 px.*/
h1 {
  font-weight: bold;
  color: blue;
} 
/*Changed heading 1 color from black to blue*/
h2 {
  color: green;
}
/*Changed heading 2 color from black to green*/